.brand-logo-mini img {
	width: 40px !important;
	height: 45px !important;
}

.navbar-brand>#icon {
	width: 50px !important;
	height: 55px !important;
}

.navbar-brand>#text {
	width: auto !important;
	height: 27px !important;
	padding-left: 5px;
}

.border20 {
	border-radius: 20px !important;
}

.border10 {
	border-radius: 10px !important;
}

.user_pic_table {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.rank_pic_table {
	width: auto !important;
	height: 25px !important;
	border-radius: 0 !important;
}

.trophy_head {
	width: 90px;
}

.trophy_lvl {
	height: 50px;
}

.font_medium_lg {
	font-size: 20px !important;
}

input {
	border-radius: 8px !important;
}

#loader {
	display: none;
}

.round {
	border-radius: 50px !important;
}


.nav-bar-gr {
	/* background-image: linear-gradient(to right top, #1f334e, #173358, #0f3361, #05326a, #003173, #032f71, #062d6f, #092b6d, #0d2860, #102554, #132147, #141e3b) !important; */
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.41);
}


#sidebar {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.14);


}

.dp_blue {
	color: #1c2b42;
}

.profile_cover {
	width: 100%;
	border-radius: 10px;
	height: 250px;
}

.profile_img {
	background-color: #fff;
	width: 150px;
	height: 150px;
	padding: 5px;
	border: 5px solid rgb(3, 121, 255);
	border-radius: 50%;
	margin-top: -90px;
}

.profile_level_icon {
	height: 30px;
	;
}

#profile_adrs {
	max-width: 250px;
}

#profile_edit {
	position: absolute !important;
	margin-left: 115px;
	margin-top: 5px;

}
#edit_close{
    position: absolute !important;
	margin-left: 115px;
    margin-top: 5px;
    display:none;
}

.bkash_pic {
	width: 11rem;
	border-radius: 10px;
	border: 2px solid pink;
}

.editable {
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #acced4;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	max-width: 100%;
	min-width: 40px;
}

select {
	border-radius: 7px !important;
}

#profile_pic_edit {
    position: absolute;
    margin-left: -117px;
    margin-top: 5px;
    display:none;
}
#save{
    position: absolute !important;
	margin-left: 115px;
    margin-top: 45px;
    display:none;
}
#refer_link{
	
	word-wrap:break-word;
}
#refer_link_copy{
	cursor: copy;
}
#refer_link_copy:hover{
	background: gray;
	color: white;
	border-radius: 5px;
	padding: 2px;
}

/*datatable*/
.paginate_button {
	background: #e4ebf3!important;
	border: none!important;
	border-radius: 50px!important;
	color: white !important;
}
.next{
	background: #f8f6f6 !important;
}
.previous{
	background: #f8f6f6 !important;
}
.dataTables_filter > label > input{
	border-radius: 0px!important;
	border: none !important;
	border-bottom : 2px solid #cfd6f6 !important;
}

.notify-icon > div{
	padding: 10px 12px 10px 12px;
    border-radius: 109px;
	margin: 5px;
	
}
.notify-icon > div > h3{
	margin: 0px;
	padding: 0px 8px 0px 8px;
}
.bid-profile-img{
	height: 35px;
    width: 35px;
    border-radius: 100px;
    border: 2px solid #148eff;
}
#chat{
    resize: vertical;
    border-radius: 20px 20px 0 20px;
    outline: none;
    overflow: auto; 
    min-height: 80px;
    border: 1px solid #148eff;
}
#send-btn{
	border-radius: 20px 0 20px 20px;;
}
@media(max-width:400px){
	.dense{
		height: 10px;
	}
}
